# Python
*.py[cod]
__pycache__/
*.so
.env
.env.*
.venv
venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# IDE
*.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# PyCharm
*.iml
.idea/
